/*------------ Set up ------------*/
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$break-mobile: 480px;
$break-tablet: 768px;
$break-desktop: 1140px;
$break-hd: 1400px;

@mixin breakpoint($media) {
  @if $media == pm {
    @media only screen and (max-width: $break-mobile - 1) { @content; }
  }
  @else if $media == lm {
    @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet - 1) { @content; }
  }
  @else if $media == t {
    @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop - 1) { @content; }
  }
  @else if $media == l {
    @media only screen and (min-width: $break-desktop) and (max-width: $break-hd - 1) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $break-hd) { @content; }
  }
}

$paperwhite: #F1F1F2;
$strikinggray: #8C8F81;
$dangeryellow: #F6EB18;
$sandyellow: #FDD007;
$clearblue: #85BDDA;
$justiceblue: #1185C8;
$shieldblue: #002C3D;
$powerorange: #EF4C2E;
$mudbrown: #944523;
$natureblack: #2E2D14;
$fireblack: #230D0A;
$textblack: #191B18;

$komika: 'komika_axisregular';
$franklin: 'franklin-gothic-urw-cond', 'helvetica-neue', Helvetica, Arial, sans-serif;

/*------------ Plugins ------------*/

/*------------ Typography ------------*/
@font-face {
    font-family: 'komika_axisregular';
    src: url('../font/KOMIKAX_-webfont.eot');
    src: url('../font/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/KOMIKAX_-webfont.woff') format('woff'),
         url('../font/KOMIKAX_-webfont.ttf') format('truetype'),
         url('../font/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-size: 4.5em;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	color: $sandyellow;
	font-family: $komika;

	@include breakpoint(pm) {
	    font-size: 3em;
	}
}

p {
	font-size: 1.8em;
	line-height: 1.4em;
	margin-bottom: 0.6em;
}

/*------------ Tools ------------*/
.group {
	@include pie-clearfix;
}

/*------------ Animation ------------*/
@-webkit-keyframes bg-one
{
	0% {
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	3% {
		opacity: 100;
	}
	30% {
		opacity: 100;
	}
	33% {
		-webkit-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
}

@-moz-keyframes bg-one
{
	0% {
		-moz-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	3% {
		opacity: 100;
	}
	30% {
		opacity: 100;
	}
	33% {
		-moz-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
	100% {
		-moz-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
}

@-o-keyframes bg-one
{
	0% {
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	3% {
		opacity: 100;
	}
	30% {
		opacity: 100;
	}
	33% {
		-o-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
	100% {
		-o-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
}

@keyframes bg-one
{
	0% {
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	3% {
		opacity: 100;
	}
	30% {
		opacity: 100;
	}
	33% {
		-webkit-transform: translate(-10px,-10px);
		-moz-transform: translate(-10px,-10px);
		-o-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(-10px,-10px);
		-moz-transform: translate(-10px,-10px);
		-o-transform: translate(-10px,-10px);
		transform: translate(-10px,-10px);
		opacity: 0;
	}
}

@-webkit-keyframes bg-two
{
	0% {
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	33% {
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	36% {
		opacity: 100;
	}
	63% {
		opacity: 100;
	}
	66% {
		-webkit-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
}

@-moz-keyframes bg-two
{
	0% {
		-moz-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	33% {
		-moz-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	36% {
		opacity: 100;
	}
	63% {
		opacity: 100;
	}
	66% {
		-moz-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
	100% {
		-moz-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
}

@-o-keyframes bg-two
{
	0% {
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	33% {
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	36% {
		opacity: 100;
	}
	63% {
		opacity: 100;
	}
	66% {
		-o-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
	100% {
		-o-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
}

@keyframes bg-two
{
	0% {
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	33% {
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	36% {
		opacity: 100;
	}
	63% {
		opacity: 100;
	}
	66% {
		-webkit-transform: translate(10px,-10px);
		-moz-transform: translate(10px,-10px);
		-o-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(10px,-10px);
		-moz-transform: translate(10px,-10px);
		-o-transform: translate(10px,-10px);
		transform: translate(10px,-10px);
		opacity: 0;
	}
}

@-webkit-keyframes bg-three
{
	0% {
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	66% {
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	69% {
		opacity: 100;
	}
	96% {
		opacity: 100;
	}
	100% {
		-webkit-transform: translate(-10px,10px);
		transform: translate(-10px,10px);
		opacity: 0;
	}
}

@-moz-keyframes bg-three
{
	0% {
		-moz-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	66% {
		-moz-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	69% {
		opacity: 100;
	}
	96% {
		opacity: 100;
	}
	100% {
		-moz-transform: translate(-10px,10px);
		transform: translate(-10px,10px);
		opacity: 0;
	}
}

@-o-keyframes bg-three
{
	0% {
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	66% {
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	69% {
		opacity: 100;
	}
	96% {
		opacity: 100;
	}
	100% {
		-o-transform: translate(-10px,10px);
		transform: translate(-10px,10px);
		opacity: 0;
	}
}

@keyframes bg-three
{
	0% {
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	66% {
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
		opacity: 0;
	}
	69% {
		opacity: 100;
	}
	96% {
		opacity: 100;
	}
	100% {
		-webkit-transform: translate(-10px,10px);
		-moz-transform: translate(-10px,10px);
		-o-transform: translate(-10px,10px);
		transform: translate(-10px,10px);
		opacity: 0;
	}
}

/*------------ General ------------*/
body {
	font-family: "franklin-gothic-urw-cond", "helvetica-neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: $paperwhite;
	overflow-x: hidden;

	@include breakpoint(l) {
	    font-size: 14px;
	}

	@include breakpoint(t) {
	    font-size: 14px;
	}

	@include breakpoint(lm) {
	    font-size: 14px;
	}

	@include breakpoint(pm) {
	    font-size: 12px;
	}
}

#background {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: $textblack;
	overflow: hidden;

	@include breakpoint(t) {
	    background: url(../img/home-background-3.png) 63% bottom no-repeat;
	    @include background-size(cover);
	}

	@include breakpoint(lm) {
	    background: url(../img/home-background-3.png) 63% bottom no-repeat;
	    @include background-size(cover);
	}

	@include breakpoint(pm) {
	    background: url(../img/home-background-3.png) 63% bottom no-repeat;
	    @include background-size(cover);
	}

	img {
		position: absolute;
		min-width: 105%;
		min-height: 105%;
		@include transform(translateZ(0));
		
		&:nth-child(1) {
			top: 0;
			left: 0;
			-webkit-animation: bg-one 15s linear 0s infinite;
			-moz-animation: bg-one 15s linear 0s infinite;
			-o-animation: bg-one 15s linear 0s infinite;
			animation: bg-one 15s linear 0s infinite;
		}

		&:nth-child(2) {
			top: 0;
			right: 0;
			-webkit-animation: bg-two 15s linear 0s infinite;
			-moz-animation: bg-two 15s linear 0s infinite;
			-o-animation: bg-two 15s linear 0s infinite;
			animation: bg-two 15s linear 0s infinite;
		}

		&:nth-child(3) {
			bottom: 0;
			left: 0;
			-webkit-animation: bg-three 15s linear 0s infinite;
			-moz-animation: bg-three 15s linear 0s infinite;
			-o-animation: bg-three 15s linear 0s infinite;
			animation: bg-three 15s linear 0s infinite;
		}

		@include breakpoint(t) {
		    display: none;
		}

		@include breakpoint(lm) {
		    display: none;
		}

		@include breakpoint(pm) {
		    display: none;
		}
	}
}

#displayLogo {
	position: fixed;
	width: 160px;
	height: 160px;
	bottom: 30px;
	right: 30px;
	z-index: 99;

	@include breakpoint(lm) {
		width: 120px;
		height: 120px;
	    position: static;
	    display: block;
	    margin: 0 auto 45px;
	}

	@include breakpoint(pm) {
		width: 80px;
		height: 80px;
	    position: static;
	    display: block;
	    margin: 0 auto 45px;
	}
}

#main {
	position: relative;
	z-index: 1;
}

section {
	width: 100%;
	padding: 30px;
	background: url(../img/bg-halftone.png), $paperwhite;
	position: relative;
	@include backface-visibility(hidden);
	@include box-sizing(border-box);

	&:first-child {
		border: none;
	}

	@include breakpoint(xl) {
	    padding: 60px;
	}

	@include breakpoint(pm) {
	    padding: 30px 15px;
	}

	.content {
		width: 740px;
		padding: 0 10px 60px;
		position: relative;
		@include box-sizing(border-box);

		@include breakpoint(l) {
		    width: 63%;
		}

		@include breakpoint(t) {
		    width: 100%;
		    padding: 30px;
		}

		@include breakpoint(lm) {
		    width: 100%;
		}

		@include breakpoint(pm) {
		    width: 100%;
		}
	}
}

#home {
	background: transparent;

	form {
		font-size: 0.8em;
	}

	input {
		color: $paperwhite;
		font-family: $franklin;
		font-size: 1.25em;
		width: 100%;
		background: none;
		border: none;
		border-bottom: solid 3px $paperwhite;
		outline: none;
		padding: 0 0 0.1em;
	}

	select {
		font-size: 1.25em;
		width: 37%;

		@include breakpoint(lm) {
		    width: 63%;
		}

		@include breakpoint(pm) {
		    width: 100%;
		}
	}

	button {
		width: 37%;
		font-family: $franklin;
		background: $sandyellow;
		font-size: 1.25em;
		border: none;
		outline: none;
		padding: 0.3em;
		@include transition(background 0.2s ease-in-out);

		@include breakpoint(lm) {
		    width: 100%;
		}

		@include breakpoint(pm) {
		    width: 100%;
		}

		&:hover {
			cursor: pointer;
			background: lighten($sandyellow, 20%);
		}
	}

	footer {
		position: absolute;
		bottom: 60px;
		left: 70px;
		font-size: 1.25em;
		color: $paperwhite;

		@include breakpoint(l) {
		    bottom: 30px;
			left: 40px;
		}

		@include breakpoint(lm) {
		    position: static;
		    width: 100%;
		    text-align: center;
		    @include box-sizing(border-box);
		}

		@include breakpoint(pm) {
		    position: static;
		    width: 100%;
		    text-align: center;
		    @include box-sizing(border-box);
		}

		a {
			color: $paperwhite;		
			margin: 0 15px 0 0;

			&.nav-sub:last-of-type {
		    	margin: 0;
		    }

		    &:hover {
		    	color: $sandyellow;
		    }
		}

		p {
			margin: 15px 0 0;
			font-size: 0.85em;

			a {
				margin: 0;
			}
		}
	}
}